.header {
    overflow-x: hidden;
    .navbar {
       max-height: 3.5rem;
       box-shadow: 0px 5px 10px  #000000;
   
    }   
   
   .header__titulo {
       @include flex (row, center, center)  }
   .header__h1 {
       font-family: 'Alumni Sans Pinstripe', sans-serif;
       text-decoration: wavy;
       text-transform: none;
       background-color: rgba(0, 0, 0, 0);
       color: #fffb07;
       font-size: 6rem;
       font-style: normal;
       font-weight: 800;
       border-radius: 5px;
       text-align: center;
       text-shadow: 10px 10px 10px #38003d;
       padding-bottom: 1rem;
       margin: 1rem 1rem 2rem 0rem;}
   
   .navbar__texto {
       font-size: 2rem;
       font-family: 'Alumni Sans Pinstripe', sans-serif;
       font-weight: 400;
       color:rgb(255, 254, 254);
       text-shadow: 3px 3px 3px #0000005b;
       
      }
   .navbar__texto:hover {
       text-decoration: underline;
   
       }
   
   
   .portada {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background: fixed;
       background-size: cover;
       background-image: url(../recursos/fredie-index.jpg);
       height: 100vh;
    }    
}